repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/pyink
    rev: 25.12.0
    hooks:
      - id: pyink
        types: [python]
        language_version: python3
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c 'python -m ensurepip && pip install -r requirements-dev.txt && python -m pytest'
        language: python
        types: [python]
        pass_filenames: false
