<!DOCTYPE html>
<html lang="{{i18n.locale}}" dir="{{i18n.direction}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{! TODO remove }}
	<meta name="robots" content="noindex,nofollow">
	<title>{{i18n.meta.titlePrefix}} - {{title}}</title>
	<link rel="stylesheet" href="reset.css" inline>
	<link rel="stylesheet" href="style.css" inline>
	<link rel="stylesheet" href="print.css" inline>
	<script src="d3.v7.min.js" inline></script>
	<script src="popper.min.js" inline></script>
	<script src="tippy-bundle.umd.min.js" inline></script>
	<script>
		window.PAYLOAD = {{{ payload }}};
	</script>	
</head>

<body>
	<a href="#content" class="skip-to-main">{{i18n.meta.skipToMain}}</a>
	<header>
		<div>
			{{#logo}}
				<img inline src="{{logo}}" alt="{{title}} {{i18n.meta.logoAlt}}" class="logo">
			{{/logo}}
			{{^logo}}
				<div class="hed">{{i18n.meta.titlePrefix}}</div>
			{{/logo}}
			<button class="button-menu"><img inline src="svg/hamburger.svg" alt="{{i18n.meta.openMenuAlt}}"></button>
		</div>
	</header>
	
	<div class="layout-wrapper">
		<aside class="sidebar">
			<nav>
				<div class="sidebar-inner sidebar-inner--full-report is-active">
					<a href="#executive-summary" class="button standalone-item is-active"><img inline src="svg/star.svg" alt="" role="presentation">{{i18n.nav.executiveSummary}}</a>
					<p>{{i18n.nav.conversationTopics}}</p>
					<ul>
						{{#topics}}
						<li><a href="#topic-{{topicID}}" class="button"><span class="badge">{{quoteCountFormatted}}</span> <span class="text">{{text}}</span></a></li>
						{{/topics}}
					</ul>
				</div>
				{{#hasPredicted}}
				<div class="sidebar-inner sidebar-inner--predicted-agreement">
					<a href="#predicted-agreement-summary" class="button standalone-item is-active"><img inline src="svg/predict.svg" alt="" role="presentation">{{i18n.nav.predictedAgreement}}</a>
					<p>{{i18n.nav.conversationTopics}}</p>
					<ul>
						{{#predicted.topics}}
						<li><a href="#predicted-{{topicID}}" class="button"> <span class="text">{{title}}</span></a></li>
						{{/predicted.topics}}
					</ul>
				</div>
				{{/hasPredicted}}
			</nav>
		</aside>

		<main id="content">
			<div id="app-container">
				<div id="title">
					<h1>{{title}}</h1>
					{{#hasPredicted}}
					<div class="content-toggle">
						<div class="content-toggle-inner">
							<button class="content-toggle-btn is-active" data-target="full-report">
								<img inline src="svg/check.svg" alt="" role="presentation">
								{{i18n.tabs.fullReport}}
							</button>
							<button class="content-toggle-btn" data-target="predicted-agreement">
								<img inline src="svg/check.svg" alt="" role="presentation">
								{{i18n.tabs.predictedAgreement}}
							</button>
						</div>
					</div>
					{{/hasPredicted}}
				</div>
				<div id="full-report" class="app-tab is-visible">
					<article id="executive-summary" aria-labelledby="executive-summary-title">
						<section>
							<header>
								<h2 id="executive-summary-title">{{i18n.executiveSummary.title}}</h2>
								<button class="button-share" data-id="executive-summary" data-text="{{i18n.executiveSummary.title}}"><img inline src="svg/share.svg" alt="" role="presentation"><span>{{i18n.sections.share}}</span></button>
							</header>
							<hr>
							<ul class="summary-stats">
								<li><span class="badge"><img inline src="svg/group.svg" alt="" role="presentation"></span><span class="text"><strong>{{totalParticipantsFormatted}}</strong> {{i18n.executiveSummary.totalParticipants}}</span></li>
								<li><span class="badge"><img inline src="svg/list_alt.svg" alt="" role="presentation"></span><span class="text"><strong>{{topicsIdentifiedFormatted}}</strong> {{i18n.executiveSummary.topicsIdentified}}</span></li>
								<li><span class="badge"><img inline src="svg/thumbs.svg" alt="" role="presentation"></span><span class="text"><strong>{{opinionsIdentifiedFormatted}}</strong> {{i18n.executiveSummary.opinionsIdentified}}</span></li>
							</ul>
							{{#executiveSummary}}
							<p>{{{.}}}</p>
							{{/executiveSummary}}
						</section>
					</article>
					<article>
						<section id="participant-overview">
							<header>
								<h2>{{i18n.sections.participantOverview}}</h2>
								<button class="button-share" data-id="participant-overview" data-text="{{i18n.sections.participantOverview}}"><img inline src="svg/share.svg" alt="" role="presentation"><span>{{i18n.sections.share}}</span></button>
							</header>
							<hr>
							<div id="participant-overview-chart" class="demographic-chart"></div>
						</section>
					</article>
					<article>
						<section id="conversation-overview">
							<header>
								<h2>{{i18n.sections.conversationOverview}}</h2>
								<button class="button-share" data-id="conversation-overview" data-text="{{i18n.sections.conversationOverview}}"><img inline src="svg/share.svg" alt="" role="presentation"><span>{{i18n.sections.share}}</span></button>
							</header>
							<hr>
							<p>{{{conversationOverviewLead}}}</p>
							
							<div class="toggle-container">
								<button class="button-filter-compare"><img inline src="svg/filter.svg" alt="" role="presentation"><span>{{i18n.sections.filterCompare}}</span></button>
									{{#hasToggle}}
								<fieldset class="toggle-group">
									<legend class="sr-only">{{i18n.sections.toggleViewLegend}}</legend>
									
									<input type="radio" name="toggleView" id="option-topics" value="topics" checked>
									<label for="option-topics">{{i18n.sections.allTopics}}</label>
									
									<input type="radio" name="toggleView" id="option-opinions" value="opinions">
									<label for="option-opinions">{{i18n.sections.topOpinions}}</label>
								</fieldset>
								{{/hasToggle}}
							</div>
							
							<div id="conversation-overview-chart"></div>
						</section>
					</article>
					<div id="topics-identified">{{topicsIdentifiedBadge}}</div>
					{{#topics}}
					<article id="topic-{{topicID}}" class="topic" aria-labelledby="topic-{{topicID}}-title">
						<section>
							<header>
								<h2 id="topic-{{topicID}}-title" class="topic-overview-title">{{text}}</h2>
								<button class="button-share" data-id="topic-{{topicID}}" data-text="{{text}}"><img inline src="svg/share.svg" alt="" role="presentation"><span>{{i18n.sections.share}}</span></button>
							</header>
							<div class="topic-overview">
								<div class="topic-overview-stats">
									<div><span class="badge">{{opinionCountFormatted}}</span> {{i18n.sections.opinionsBadge}}</div>
									<div><span class="badge">{{quoteCountFormatted}}</span> {{i18n.sections.totalQuotesBadge}}</div>
								</div>
								<div class="topic-overview-summary">
									<p>{{{summary}}}</p>
								</div>
								<div class="topic-overview-chart">
									<div class="topic-overview-chart-inner">
										<div class="donut-chart-title">
											<span class="count">{{quoteCountFormatted}}</span>
											<span class="underline">{{i18n.sections.totalQuotesUnderline}}</span>
										</div>
										<div class="donut-chart-content"></div>
									</div>
								</div>
							</div>
							<hr>
							<div class="topic-opinions">
								{{#opinions}}
								<details class="topic-opinion">
									<summary>
										<div class="summary-wrapper">
											<span class="summary-overline">{{quotesCountFormatted}}</span>
											<span class="summary-text">{{text}}</span>
										</div>
										<svg class="chevron" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
											<polyline points="6 9 12 15 18 9"></polyline>
										</svg>
									</summary>
									<div class="topic-opinion-details">
										<div class="topic-opinion-sample">	
										<p class="print-only">{{i18n.sections.sampleQuotes}}</p>
											<ul>
												{{#sampleQuotes}}
												<li><q>{{.}}</q></li>
												{{/sampleQuotes}}
											</ul>
										</div>	
										{{#viewAllQuotes}}
										<div class="topic-opinion-view-all">
											<button class="button-quotes" data-id="{{fullID}}"><img inline src="svg/eye.svg" alt="" role="presentation"><span>{{i18n.sections.viewAllQuotesAndDemographics}}</span></button>
										</div>
										{{/viewAllQuotes}}
									</div>
								</details>
								{{/opinions}}
							</div>
						</section>
					</article>
					{{/topics}}
				</div>
				{{#hasPredicted}}
				<div id="predicted-agreement" class="app-tab">
				<article id="predicted-agreement-summary" aria-labelledby="predicted-agreement-summary-title">
						<section>
							<header>
								<h2 id="predicted-agreement-summary-title">{{i18n.predicted.title}}</h2>
								<button class="button-share" data-id="predicted-agreement-summary" data-text="{{i18n.predicted.title}}"><img inline src="svg/share.svg" alt="" role="presentation"><span>{{i18n.sections.share}}</span></button>
							</header>
							<hr>
							<p>{{{predicted.text}}}</p>
						</section>
					</article>
					
					{{#predicted.topics}}
					<article class="predicted-topic">
						<section id="predicted-{{topicID}}">
							<header>
								<h2>{{title}}</h2>
								<button class="button-share" data-id="predicted-{{topicID}}" data-text="{{i18n.predicted.title}}: {{title}}"><img inline src="svg/share.svg" alt="" role="presentation"><span>{{i18n.sections.share}}</span></button>
							</header>
							<hr>
							<table class="predicted-table">
								<thead>
									<tr>
										<th>{{i18n.predicted.statementColumn}}</th>
										<th>{{i18n.predicted.agreementColumn}}</th>
									</tr>
								</thead>
								<tbody>
									{{#statements}}
									<tr>
										<td>{{text}}</td>
										<td class="predicted-agreement">{{#hasPredictedAgreement}}{{predictedAgreement}}{{/hasPredictedAgreement}}</td>
									</tr>
									{{/statements}}
								</tbody>
							</table>
						</section>
					</article>
					{{/predicted.topics}}
				</div>
				{{/hasPredicted}}
			</div>
			<div id="drawer" class="no-print">
				<div class="drawer-bg"></div>
					<div class="drawer-content">
						<p class="drawer-opinion"></p>
						<div class="drawer-toggle">
							<div class="drawer-toggle-inner">
								<button class="is-active" data-target="drawer-quotes">
									{{i18n.drawer.participantQuotesTitle}} (<span class="drawer-quote-count"></span>)
								</button>
								<button data-target="drawer-demographics">
									{{i18n.drawer.participantDemographics}}
								</button>
							</div>
						</div>
						<div id="drawer-quotes" class="tab is-visible">
							<div class="drawer-quotes-filters">
							{{#demographics}}
								<label class="sr-only" for="drawer-filter-{{label}}">{{label}}</label>
								<select id="drawer-filter-{{label}}" data-key="{{label}}" aria-label="{{label}}">
									<option value="">{{label}}</option>
									{{#values}}
									<option value="{{value}}">{{value}}</option>
									{{/values}}
								</select>
							{{/demographics}}
							</div>
							<ul class="drawer-quotes"></ul>
						</div>

						<div id="drawer-demographics" class="tab">
							<div id="drawer-demographics-chart" class="demographic-chart"></div>
						</div>
						<button class="button-close"><img inline src="svg/x.svg" alt="{{i18n.meta.closeAlt}}"></button>
					</div>
				</div>
					<div id="filter-compare">
					<div class="filter-compare-bg"></div>
					<div class="filter-compare-content">
						<h2 class="filter-compare-title">{{i18n.filterModal.title}}</h2>
						<p class="filter-compare-description">{{i18n.filterModal.description}}</p>
						<div class="filter-compare-groups"></div>
						<button class="button-add-group ghost">{{i18n.filterModal.addGroup}}</button>
						<div class="filter-compare-footer">
							<button class="button-reset-groups ghost"><img inline src="svg/reset.svg" alt=""> {{i18n.filterModal.reset}}</button>
							<button class="button-apply-groups">{{i18n.filterModal.applyFilters}}</button>
						</div>
						<button class="button-close"><img inline src="svg/x.svg" alt="{{i18n.meta.closeAlt}}"></button>
					</div>
			</div>

			<div id="share" class="no-print">
				<div class="share-bg"></div>
				<div class="share-content">
					<p class="share-title">{{i18n.sections.share}} <span></span></p>
					<p class="share-description">{{i18n.sections.copyLinkToShare}}</p>
					<div class="share-url"><input id="share-url-input" type="text" readonly dir="ltr" value=""><button class="button-copy" data-copied="{{i18n.sections.copied}}"><img inline src="svg/copy.svg" alt="{{i18n.meta.copyLinkAlt}}"></button></div>
					<div class="share-close"><button class="button-close-share">{{i18n.sections.close}}</button></div>
				</div>
			</div>
		</main>
	</div>

	<script src="script.js" inline></script>
</body>

</html>
