@use '@google/glue/lib/breakpoints/mixins' as glue-breakpoints-mixins;
@use '@google/glue/lib/spacers/mixins' as glue-spacers-mixins;
@use '../../typography/typography' as app-typography;

.app-core-capabilities-cards {
  .app-core-capabilities-card {
    padding: 0 28px 28px;

    &__feature-name {
      align-items: flex-end;
      color: inherit;
      display: flex;
      font-size: 1.25rem;
      font-weight: 700;
      justify-content: center;
      line-height: 1.4;
      margin-top: 0;
      min-height: calc(1.25rem * 1.4 * 2);
      @include glue-spacers-mixins.spacer(3, 'margin', 'bottom');

      @include glue-breakpoints-mixins.bp(lg) {
        font-size: 1.375rem;
        min-height: calc(1.375rem * 1.4 * 2);
      }
    }

    &__image {
      @include glue-spacers-mixins.spacer(4, 'margin', 'bottom');
      height: auto;
      width: 240px;

      @include glue-breakpoints-mixins.bp(sm-only) {
        margin-bottom: calc(app-typography.$h3-spacer-bottom + (1.25rem * 1.4 - 1.25rem) / 2); // Adjust to visually include line-height of headling below
      }
    }

    // Move last card to centralise it in the 3-column layout on tablet
    &:last-child {
      @include glue-breakpoints-mixins.bp(md-only) {
        grid-column-start: 4;
      }
    }
  }
}
